[submodule "three.js"]
	path = three.js
	url = https://github.com/mrdoob/three.js.git
	branch = dev
[submodule "lil-gui"]
	path = lil-gui
	url = https://github.com/georgealways/lil-gui.git
	branch = master
